
<div class="row center wrap">
    <div>
        <div class="col s7 m5 l4">
            <div class="card-panel orange darken-4 z-depth-4">
                <h2>{{ name }}</h2>
                <h3><i class="far fa-address-card"></i>{{ role }}</h3>
                <ul class="collection">
                    <li class="collection-item">ID: {{ id }}</li>
                    <li class="collection-item">Email: <a href="mailto:{{ email }}">{{ email }}</a></li>
                    <li class="collection-item">Office number: {{ officeNumber }}</li>
                </ul>
            </div>
        </div>